OBS_API_URL=http://localhost:8080/api
NODE_ENV=dev
OBS_ENV=dev
OBS_DEV=true
# for e2e tests
OBS_API_KEY=obs1-api-6p0wy2ItV02yBrnYPx
OBS_EMAIL="john@observeone.com"
OBS_PASSWORD="observeone123"
# global, local, npx modes for testing
OBS1_BINARY_MODE=local
# disable stupid dotenv ad
DOTENV_CONFIG_QUIET=true
