version https://git-lfs.github.com/spec/v1
oid sha256:4942cee77254c8d7e2a244a3e046aa2119cfd301b0bf5e56eec03919611824e4
size 1686
OBS1_API_URL=
NODE_ENV=
OBS1_ENV=
OBS1_DEV=
# for e2e tests
OBS1_API_KEY=
# disable stupid dotenv ad
DOTENV_CONFIG_QUIET=true